
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>myflight</title>

</head>
<body>
<p><a href="{% url 'index' %}"> Strona główna <a/></p>
<p><a href="{% url 'lot' %}"> Przeglądaj loty<a/></p>
<p><a href="{% url 'index' %}"> Lotnisko wylotu <a/></p>
<p><a href="{% url 'index' %}"> Lotnisko przylotu <a/></p>
<p><a href="{% url 'index2' %}"> Linia lotnicza <a/></p>
</body>
</html>
    {% block widok %}
   <h1>MOJE LOTY</h1>
{% endblock %}

<div id="content">
    {% block content %}
       <h1>MOJE LOTY</h1>
    {% endblock content%}
</div>
