
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>myflight</title>
<div id="content">
    {% block content %}
       <h1>MOJE LOTY</h1>
    {% endblock content%}
</div>
</head>

<body>
<p><a href="{% url 'lot' %}"> Strona główna <a/></p>
<p><a href="{% url 'lot' %}"> Przeglądaj loty<a/></p>
<p><a href="{% url 'lot' %}"> Lotnisko wylotu <a/></p>
<p><a href="{% url 'lot' %}"> Lotnisko przylotu <a/></p>
<p><a href="{% url 'lot' %}"> Linia lotnicza <a/></p>

</body>
</html>
    {% block widok %}

{% endblock %}

