
{% load static %}
<!doctype html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<html lang="pl">
  <hr>
    <ul class="nav nav-pills flex-column mb-auto">
       <li>
                <a href="{% url 'strona_glowna' %}"class="nav-link active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          STRONA GŁÓWNA
        </a>
        <a href="{% url 'lot' %}"class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          MOJE LOTY
        </a>
        <a href="{% url 'detail'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          SZCZEGÓŁY LOTÓW
        </a>
        <a href="{% url 'dodaj_lot' %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          DODAJ
        </a>
        <a href="{% url 'usun_lot'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          USUŃ
        </a>
         <a href="{% url 'analiza_lotow'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          ANALIZA LOTÓW
        </a>
        <a href="{% url 'login'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
         LOGOWANIE
        </a>
    </ul>
    <hr>

<body>

    <div class="top">
        <span style="color: white">

        <h1>

<table>
        <tr>
        <td>Lotnisko wylotu</td>
        <td>Lotnisko przylotu</td>
        <td>Data lotu</td>
        <td>Kraj</td>
        <td>Linia lotnicza</td>
    </tr>
    <tr>
        {% for lot in loty %}
        <td>{{ lot.lotnisko_wylot }}</td>
        <td>{{ lot.lotnisko_przylot }}</td>
        <td>{{ lot.data_lotu }}</td>
        <td>{{ lot.kraj }}</td>
        <td>{{ lot.linia }}</td>
        <td>
            <a href= "{{ lot.id }}" >
                <button type="button" class="btn btn-warning">
              więcej szczegółów
             </button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

        </h1>


    </div>

</body>


</html>


{% block content %}
       <span style="color: white">
{% include "stronicowanie.html" with page=page_obj %}
{% endblock %}



