<table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>ilość lotów</th>
    </tr>
    <tr>
      <th>linia lotnicza</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Ryanair</th>
      <td>57</td>
    </tr>
    <tr>
      <th>Wizzair</th>
      <td>39</td>
    </tr>
    <tr>
      <th>LOT</th>
      <td>8</td>
    </tr>
    <tr>
      <th>EasyJet</th>
      <td>5</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>ilość lotów</th>
    </tr>
    <tr>
      <th>rok</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2019</th>
      <td>22</td>
    </tr>
    <tr>
      <th>2017</th>
      <td>20</td>
    </tr>
    <tr>
      <th>2018</th>
      <td>13</td>
    </tr>
    <tr>
      <th>2021</th>
      <td>13</td>
    </tr>
    <tr>
      <th>2020</th>
      <td>9</td>
    </tr>
    <tr>
      <th>2022</th>
      <td>9</td>
    </tr>
    <tr>
      <th>2014</th>
      <td>7</td>
    </tr>
    <tr>
      <th>2015</th>
      <td>6</td>
    </tr>
    <tr>
      <th>2013</th>
      <td>5</td>
    </tr>
    <tr>
      <th>2012</th>
      <td>4</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>ilość wylotów</th>
    </tr>
    <tr>
      <th>lotnisko wylotu</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Gdańsk</th>
      <td>26</td>
    </tr>
    <tr>
      <th>Warszawa Chopin</th>
      <td>14</td>
    </tr>
    <tr>
      <th>Warszawa Modlin</th>
      <td>8</td>
    </tr>
    <tr>
      <th>Londyn Stansted</th>
      <td>5</td>
    </tr>
    <tr>
      <th>Lizbona</th>
      <td>4</td>
    </tr>
    <tr>
      <th>Wrocław</th>
      <td>3</td>
    </tr>
    <tr>
      <th>Sztokholm Skavsta</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Kutaisi</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Kraków</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Bukareszt</th>
      <td>2</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>ilość przylotów</th>
    </tr>
    <tr>
      <th>lotnisko przylotu</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Warszawa Chopin</th>
      <td>18</td>
    </tr>
    <tr>
      <th>Gdańsk</th>
      <td>17</td>
    </tr>
    <tr>
      <th>Warszawa Modlin</th>
      <td>9</td>
    </tr>
    <tr>
      <th>Lizbona</th>
      <td>5</td>
    </tr>
    <tr>
      <th>Wrocław</th>
      <td>4</td>
    </tr>
    <tr>
      <th>Londyn Stansted</th>
      <td>4</td>
    </tr>
    <tr>
      <th>Kraków</th>
      <td>3</td>
    </tr>
    <tr>
      <th>Bukareszt</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Sztokholm Skavsta</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Lwów</th>
      <td>2</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>lotnisko wylotu</th>
      <th>lotnisko przylotu</th>
      <th>cena</th>
    </tr>
    <tr>
      <th>data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2012-12-09</th>
      <td>Warszawa Modlin</td>
      <td>Budapeszt</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2012-12-12</th>
      <td>Budapeszt</td>
      <td>Warszawa Modlin</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2015-03-07</th>
      <td>Gdańsk</td>
      <td>Warszawa Modlin</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2017-01-21</th>
      <td>Gdańsk</td>
      <td>Warszawa Chopin</td>
      <td>21</td>
    </tr>
    <tr>
      <th>2017-05-21</th>
      <td>Gdańsk</td>
      <td>Warszawa Chopin</td>
      <td>21</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe table table-striped text-center">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>lotnisko wylotu</th>
      <th>lotnisko przylotu</th>
      <th>cena</th>
    </tr>
    <tr>
      <th>data</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2012-02-23</th>
      <td>Gdańsk</td>
      <td>Barcelona</td>
      <td>312</td>
    </tr>
    <tr>
      <th>2012-02-26</th>
      <td>Barcelona</td>
      <td>Gdańsk</td>
      <td>312</td>
    </tr>
    <tr>
      <th>2018-12-19</th>
      <td>Marrakesh</td>
      <td>Warszawa Chopin</td>
      <td>239</td>
    </tr>
    <tr>
      <th>2018-09-29</th>
      <td>Kutaisi</td>
      <td>Bukareszt</td>
      <td>231</td>
    </tr>
    <tr>
      <th>2018-07-28</th>
      <td>Warszawa Chopin</td>
      <td>Amsterdam</td>
      <td>206</td>
    </tr>
  </tbody>
</table>