

{% load static %}

<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="top">
        <span style="color: white">
          <h1>Witaj na mojej stronie prezentującej zestawienie wszystkich dotychczas odbytych lotów
          </h1>
        <h2>Strona zawiera informacje o miastach wylotu i przylotu oraz datach odbytych podróży.
        </h2>


    </div>

</body>

       <li>
        <a href="{% url 'lot' %}">
          -> przejdź dalej

        </a>
      </li>


</html>





