
{% extends "base.html" %}
{% block widok %}
<table>

    {% for lot in loty %}
    <tr>
        <td><a href= "{{ lot.id }}">{{ lot.id }}</a></td>
        <td>Lotnisko wylotu: {{ lot.lotnisko_wylot }}</td>
        <td>Lotnisko przylotu: {{ lot.lotnisko_przylot }}</td>
        <td>Data lotu:{{ lot.data_lotu }}</td>
        <td>Kraj:{{ lot.kraj }}</td>
        <td>Linia lotnicza: {{ lot.linia }}</td>

    </tr>
    {% endfor %}

</table>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Dodaj">
</form>


{% endblock widok %}
