
{% extends "base.html" %}

{% load static %}

{% block widok %}

{% include "index2.html" %}

{% endblock widok %}
<!--<!doctype html>-->
<!--<html lang="pl">-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <link rel="stylesheet" href="{% static 'css/style.css' %}">-->

<!--</head>-->

<!--<body>-->

<!--    <div class="top">-->
<!--        <span style="color: white">-->

<!--        <h2>-->
<!--        </h2>-->
<!--    </div>-->

<!--</body>-->

<!--       <li>-->
<!--        <a href="{% url 'lot' %}">-->
<!--          -> przejdź dalej-->
<!--        </a>-->
<!--      </li>-->

<!--</html>-->



