{% extends "base.html" %}

{% block widok %}

<table>
    <tr>
        <td><b>Lotnisko wylotu</td> </b>
        <td><b>Lotnisko przylotu</td> </b>
        <td><b>Data lotu</td> </b>
        <td><b>Kraj</td> </b>
        <td><b>Linia lotnicza</td> </b>
    </tr>
    <tr>
        {% for lot in loty %}
        <td>{{ lot.lotnisko_wylot }}</td>
        <td>{{ lot.lotnisko_przylot }}</td>
        <td>{{ lot.data_lotu }}</td>
        <td>{{ lot.kraj }}</td>
        <td>{{ lot.linia }}</td>
    </tr>
            {% endfor %}
</table>

{% block content %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}
{% endblock widok %}
