{% extends "base.html" %}
{% block widok %}
<a href="{% url 'lot' %}">
    <button type="button" class="btn btn-warning">
        Wroc
    </button>
</a>
<table>
    <tr>
        <td>Lotnisko wylotu</td>
        <td>Lotnisko przylotu</td>
        <td>Data lotu</td>
        <td>Linia lotnicza</td>
        <td>Kraj</td>
    </tr>
    <tr>
        <td>{{ lot.lotnisko_wylot }}</td>
        <td>{{ lot.lotnisko_przylot }}</td>
        <td>{{ lot.data_lotu }}</td>
        <td>{{ lot.linia }}</td>
<td>{{ lot.kraj }}</td>
<!--        <td><a href = "loty/{{ lot_detail.linia }}"> {{ loty }} </a></td>-->
    </tr>
</table>

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form }}-->
<!--    <input type="submit" value="Submit">-->
<!--</form>-->

<form action="{{ lot.id }}/delete" method="post">
    {% csrf_token %}
    <input type="submit" value="DELETE">
</form>

{% endblock widok %}

