
{% load static %}
<!doctype html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<html lang="pl">
  <hr>
    <ul class="nav nav-pills flex-column mb-auto">
       <li>
                <a href="{% url 'strona_glowna' %}"class="nav-link active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          STRONA GŁÓWNA
        </a>
        <a href="{% url 'lot' %}"class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          MOJE LOTY
        </a>
        <a href="{% url 'detail'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          SZCZEGÓŁY LOTÓW
        </a>
        <a href="{% url 'dodaj_lot' %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          DODAJ
        </a>
        <a href="{% url 'usun_lot'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          USUŃ
        </a>
         <a href="{% url 'analiza_lotow'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          ANALIZA LOTÓW
        </a>
        <a href="{% url 'login'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
         LOGOWANIE
        </a>
    </ul>
    <hr>


<body>

    <div class="top">
        <span style="color: white">

        <h1>

<table>
    <tr>
        <th>Z KTÓREGO MIASTA BYŁ WYLOT</th>
        <td>{{ lot.lotnisko_wylot }}</td>
    </tr>
    <tr>
        <th>DO KTÓREGO MIASTA BYŁ PRZYLOT</th>
        <td>{{ lot.lotnisko_przylot }}</td>
    </tr>
    <tr>
        <th>JAKI BYŁ DZIEŃ LOTU</th>
        <td>{{ lot.data_lotu }}</td>
    </tr>
    <tr>
        <th>KTÓRA LINIA OBSŁUGIWAŁA POŁĄCZENIE</th>
        <td>{{ lot.linia }}</td>
    </tr>
        <tr>
        <th>JAKI TO BYŁ RODZAJ LINII LOTNICZEJ</th>
        <td>{{ lot.linia.rodzaj_linii }}</td>
    </tr>
    <tr>
        <th>DO KTÓREGO KRAJU ODBYWAŁ SIĘ LOT</th>
        <td>{{ lot.kraj }}</td>
    </tr>
    <tr>
        <th>NA KTÓRYM KONTYNENCIE LĄDOWAŁ SAMOLOT</th>
        <td>{{ lot.kraj.kontynent }}</td>
    </tr>
</table>
<a href="{% url 'detail' %}">
    <button type="button" class="btn btn-warning">
        powrót
    </button>
        </h1>


    </div>

</body>
</html>
