
{% load static %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<html lang="pl">
  <hr>
    <ul class="nav nav-pills flex-column mb-auto">
       <li>
        <a href="{% url 'strona_glowna' %}"class="nav-link active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          STRONA GŁÓWNA
        </a>
        <a href="{% url 'lot' %}"class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          MOJE LOTY
        </a>
        <a href="{% url 'detail'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          SZCZEGÓŁY LOTÓW
        </a>
        <a href="{% url 'dodaj_lot' %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          DODAJ
        </a>
        <a href="{% url 'usun_lot'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          USUŃ
        </a>
         <a href="{% url 'analiza_lotow'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          ANALIZA LOTÓW
        </a>
        <a href="{% url 'login'  %}" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
         LOGOWANIE
        </a>
    </ul>
    <hr>
<body>
    <div class="top">
        <span style="color: white">
            <h1>Podaj nazwę uzytkownika i hasło aby się zalogować
             </h1>
        <h2>
            <form action="." method="post">
                <p>Wpisz username:uzytkownik i password:haslo123 aby sprawdzić poprawnosc dzialania formularza logowania</p>

            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Zaloguj">
            </form>
        </h2>
    </div>
</body>
</html>


